@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-fjalla), sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nice {
  font-size: clamp(80px, 17vw, 15rem) !important;
  line-height: 0.9 !important;
}

.main-heading {
  font-size: 8rem !important; /* Default (small screens) */
  line-height: 0.9;
}

@media (min-width: 768px) {
  /* md */
  .main-heading {
    font-size: 10rem !important;
  }
}

@media (min-width: 1024px) {
  /* lg */
  .main-heading {
    font-size: 12rem !important;
  }
}

@media (min-width: 1280px) {
  /* xl */
  .main-heading {
    font-size: 15rem !important;
  }
}

body {
  font-family: var(--font-satoshi), sans-serif;
  @apply bg-darkest text-light;
}

.horizontally-center {
  @apply absolute left-1/2 -translate-x-1/2;
}

.vertically-center {
  @apply absolute top-1/2 -translate-y-1/2;
}

@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
